@import '../../assets/styles/tokens.scss';

.imagine-button {
  position: relative;
  display: inline-block;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  margin: 0 $size-4 0 0;
  padding: $size-12 $size-24 $size-12;
  font-weight: 700;
  text-align: center;
  border-radius: $size-4;
  border: none;
  font-size: $size-16;
  color: $white;
  overflow: hidden;
  transition: background 400ms;
  cursor: pointer;

  &:focus-visible {
    outline: $size-3 dashed $focus;
  }

  &.primary {
    background-color: $primary;
    &:hover {
      background-color: $primary-dark;
    }
    &.outline {
      background-color: $white;
      color: $primary;
      border: $size-2 solid $primary;
      padding: $size-10 $size-22 $size-10;
      &:hover {
        color: $primary-dark;
        border-color: $primary-dark;
      }
    }
    &.gradient {
      background: $primary-gradient;
    }
  }

  &.secondary {
    background-color: $secondary;
    color: $primary;
    &:hover {
      background-color: $secondary-dark
    }
    &.outline {
      background-color: $white;
      color: $primary;
      border: $size-2 solid $secondary;
      padding: $size-10 $size-22 $size-10;
      &:hover {
        color: $primary-dark;
        border-color: $secondary-dark;
      }
    }
    &.gradient {
      background: $secondary-gradient;
    }
  }

  &.tertiary {
    background-color: $tertiary;
    color: $primary;
    &:hover {
      background-color: $tertiary-dark
    }
    &.outline {
      background-color: $white;
      color: $primary;
      border: $size-2 solid $tertiary;
      padding: $size-10 $size-22 $size-10;
      &:hover {
        color: $primary-dark;
        border-color: $tertiary-dark;
      }
    }
    &.gradient {
      background: $tertiary-gradient;
    }
  }

  &.success {
    background-color: $success;
    color: $neutral-5;
    &:hover {
      background-color: $success-dark;
    }
    &.outline {
      background-color: $white;
      color: $neutral-5;
      border: $size-2 solid $success;
      padding: $size-10 $size-22 $size-10;
      &:hover {
        color: $success-dark;
        border-color: $success-dark;
      }
    }
    &.gradient {
      background: $success-gradient;
      color: $white;
    }
  }

  &.warning {
    background-color: $warning;
    color: $neutral-5;
    &:hover {
      background-color: $warning-dark
    }
    &.outline {
      background-color: $white;
      color: $neutral-5;
      border: $size-2 solid $warning;
      padding: $size-10 $size-22 $size-10;
      &:hover {
        color: $warning-dark;
        border-color: $warning-dark;
      }
    }
    &.gradient {
      background: $warning-gradient;
    }
  }

  &.error {
    background-color: $error;
    color: $black;
    &:hover {
      background-color: $error-dark;
    }
    &.outline {
      background-color: $white;
      color: $error-dark;
      border: $size-2 solid $error;
      padding: $size-10 $size-22 $size-10;
      &:hover {
        color: $error-dark;
        border-color: $error-dark;
      }
    }
    &.gradient {
      background: $error-gradient;
      color: $white;
    }
  }

  &.status {
    background-color: $status;
    color: $neutral-5;
    &:hover {
      background-color: $status-dark;
    }
    &.outline {
      background-color: $white;
      color: $neutral-5;
      border: $size-2 solid $status;
      padding: $size-10 $size-22 $size-10;
      &:hover {
        color: $status-dark;
        border-color: $status-dark;
      }
    }
    &.gradient {
      background: $status-gradient;
      color: $white;
    }
  }

}
