@import '../../assets/styles/tokens.scss';

.imagine-button {
  cursor: pointer;
  display: inline-block;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  margin: 0 $size-4 0 0;
  padding: $size-12 $size-24 $size-12;
  font-weight: 700;
  text-align: center;
  border-radius: $size-4;
  font-size: $size-16;
  color: $white;

  &:focus {
    outline: $size-3 dashed $hover;
  }

  &.primary {
    background-color: $primary;
    border: $size-1 solid $primary;
    &:hover {
      background-color: darken($primary, 5%)
    }
    &.outline {
      background-color: $white;
      color: $primary;
      border: $size-1 solid $primary;
      &:hover {
        color: darken($primary, 10%);
        border-color: darken($primary, 5%);
      }
    }
  }

  &.secondary {
    background-color: $secondary;
    border: $size-1 solid $secondary;
    &.outline {
      background-color: $white;
      color: $secondary;
      border: $size-1 solid $secondary;
    }
  }

  &.danger {
    background-color: $danger;
    border: $size-1 solid $danger;
    &.outline {
      background-color: $white;
      color: $danger;
      border: $size-1 solid $danger;
    }
  }

  &.success {
    background-color: $success;
    border: $size-1 solid $success;
    &.outline {
      background-color: $white;
      color: $success;
      border: $size-1 solid $success;
    }
  }

  &.warning {
    background-color: $warning;
    color: $gray-9;
    border: $size-1 solid $warning;
    &.outline {
      background-color: $white;
      color: $gray-9;
      border: $size-1 solid $warning;
    }
  }
}



