@import './global.scss';

// =========================
// Colors
// =========================

// Brand
$primary: #4A5990; // Liberty
$primary-dark: #001A48; // Dark Cornflower Blue
$primary-gradient: linear-gradient($primary, $primary-dark);

$secondary: #CBD3F0; // Periwinkle Crayola
$secondary-dark: #B4C0EA; // Lavender Blue
$secondary-gradient: linear-gradient($secondary, $secondary-dark);

$tertiary: #EFF2FB; // Ghost White
$tertiary-dark: #D8DFF5;
$tertiary-gradient: linear-gradient($tertiary, $tertiary-dark);
$focus: $primary-dark;

// Basic
$white: #FFFFFF;
$white-transparent: #FFFFFF80;

$black: #000000;
$black-transparent: #00000080;

$neutral-1: #F5F5F5;
$neutral-2: #DFDFDF;
$neutral-3: #CDCDCD;
$neutral-4: #898989;
$neutral-5: #282A30;
$neutral-gradient: linear-gradient($neutral-2, $neutral-3);
$neutral-gradient-light: linear-gradient($neutral-1, $neutral-2);
$neutral-gradient-dark: linear-gradient($neutral-3, $neutral-4);

// Utility
$success: #24C196; // Mountain Meadow
$success-dark: #05AD7F; // Green Munsell
$success-gradient: linear-gradient($success, $success-dark);

$warning: #F9F871; // Icterine
$warning-dark: #E9E84E;
$warning-gradient: linear-gradient($warning, $warning-dark);

$error: #D84747; // English Vermillion
$error-dark: #BC2E2E; // Golden Gate Bridge
$error-gradient: linear-gradient($error, $error-dark);

$status: #64B1F3; // Blue Jeans
$status-dark: #4096E0;
$status-gradient: linear-gradient($status, $status-dark);


// =========================
// Sizes
// =========================

$size-1: 0.0625rem;
$size-2: 0.125rem;
$size-3: 0.1875rem;
$size-4: 0.25rem;
$size-5: 0.3125rem;
$size-6: 0.375rem;
$size-7: 0.4375rem;
$size-8: 0.5rem;
$size-9: 0.5625rem;
$size-10: 0.625rem;
$size-11: 0.6875rem;
$size-12: 0.75rem;
$size-13: 0.8125rem;
$size-14: 0.875rem;
$size-15: 0.9375rem;
$size-16: 1rem;
$size-22: 1.375rem;
$size-24: 1.5rem;
$size-25: 1.5625rem;
$size-40: 2.5rem;